/* .add-container{
    margin-left:250px;
} */
.addform{
    overflow:auto;
    width: 380px;
    height: auto;
    margin-left:20px;
    margin-top:25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
    display:flex;
    justify-content:right;
}